div{
  display: inline;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Square-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
  height: 17px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 17px;
}

.Square-square:focus {
  outline: none;
}

.Manager-btn {
  margin: 1em;
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
}

.Board-board-row::after {
  clear: both;
  content: "";
  display: table;
}

.Game-boards {
  display: block;
}

.Board-board {
  margin: 1em;
  display: inline-grid;
}

.Manager-menu {
  display: block;
}

.List-list {
  display: inline-grid;
}